In [2]:
import pandas as pd
df=pd.read_excel('Date_data.xlsx')
df

     Open    High     Low   Close    Volume
0  143.36  143.36  143.36  143.36  20123.23
1  142.32  142.32  142.32  142.32  20432.12
2  145.98  145.98  145.98  145.98  20487.23
3  149.23  149.23  149.23  149.23  20342.98
4  148.76  148.76  148.76  148.76  20743.23
5  143.36  143.36  143.36  143.36  20123.23

In [5]:
pd.date_range(start='10/16/2017',end='10/23/2017',freq='B')

DatetimeIndex(['2017-10-16', '2017-10-17', '2017-10-18', '2017-10-19',
               '2017-10-20', '2017-10-23'],
              dtype='datetime64[ns]', freq='B')

In [6]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay
usb=CustomBusinessDay(calendar=USFederalHolidayCalendar())
usb

In [9]:
date_range=pd.date_range(start='10/16/2017',end='10/23/2017',freq=usb)
date_range

DatetimeIndex(['2017-10-16', '2017-10-17', '2017-10-18', '2017-10-19',
               '2017-10-20', '2017-10-23'],
              dtype='datetime64[ns]', freq='C')

In [11]:
df.set_index(date_range,inplace=True)
df

              Open    High     Low   Close    Volume
2017-10-16  143.36  143.36  143.36  143.36  20123.23
2017-10-17  142.32  142.32  142.32  142.32  20432.12
2017-10-18  145.98  145.98  145.98  145.98  20487.23
2017-10-19  149.23  149.23  149.23  149.23  20342.98
2017-10-20  148.76  148.76  148.76  148.76  20743.23
2017-10-23  143.36  143.36  143.36  143.36  20123.23

In [16]:
from pandas.tseries.holiday import AbstractHolidayCalendar,nearest_workday,Holiday
class myBirthDayCalendar(AbstractHolidayCalendar):
    rules=[
        Holiday('Optimus Birth Day',month=7,day=15,observance=nearest_workday)
    ]
myb=CustomBusinessDay(calendar=myBirthDayCalendar())
myb

In [15]:
pd.date_range(start='7/1/2017',end='7/30/2017',freq=myb)

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21', '2017-07-24',
               '2017-07-25', '2017-07-26', '2017-07-27', '2017-07-28'],
              dtype='datetime64[ns]', freq='C')

In [17]:
pd.date_range(start='7/1/2017',end='7/30/2017',freq=myb)

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21', '2017-07-24', '2017-07-25',
               '2017-07-26', '2017-07-27', '2017-07-28'],
              dtype='datetime64[ns]', freq='C')

In [18]:
b=CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu')
pd.date_range(start='10/16/2017',end='10/30/2017',freq=b)

DatetimeIndex(['2017-10-16', '2017-10-17', '2017-10-18', '2017-10-19',
               '2017-10-22', '2017-10-23', '2017-10-24', '2017-10-25',
               '2017-10-26', '2017-10-29', '2017-10-30'],
              dtype='datetime64[ns]', freq='C')

In [19]:
b=CustomBusinessDay(weekmask='Sun Mon Tue Wed Thu',holidays=['2017-10-22'])
pd.date_range(start='10/16/2017',end='10/30/2017',freq=b)

DatetimeIndex(['2017-10-16', '2017-10-17', '2017-10-18', '2017-10-19',
               '2017-10-23', '2017-10-24', '2017-10-25', '2017-10-26',
               '2017-10-29', '2017-10-30'],
              dtype='datetime64[ns]', freq='C')