In [2]:
import pandas as pd
y=pd.Period('2016')
y

Period('2016', 'A-DEC')

In [3]:
dir(y)

['__add__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__radd__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rsub__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__unicode__',
 '__weakref__',
 '_add_delta',
 '_from_ordinal',
 '_maybe_convert_freq',
 '_typ',
 'asfreq',
 'day',
 'dayofweek',
 'dayofyear',
 'days_in_month',
 'daysinmonth',
 'end_time',
 'freq',
 'freqstr',
 'hour',
 'is_leap_year',
 'minute',
 'month',
 'now',
 'ordinal',
 'quarter',
 'qyear',
 'second',
 'start_time',
 'strftime',
 'to_timestamp',
 'week',
 'weekday',
 'weekofyear',
 'year']

In [5]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [8]:
m=pd.Period('2011-1',freq='M')
m

Period('2011-01', 'M')

In [9]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [10]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [11]:
m+1

Period('2011-02', 'M')

In [12]:
m=pd.Period('2016-12',freq='M')
m+1

Period('2017-01', 'M')

In [15]:
d=pd.Period('2017-02-28',freq='D')
d

Period('2017-02-28', 'D')

In [16]:
d+1

Period('2017-03-01', 'D')

In [17]:
d=pd.Period('2016-02-28',freq='D')
d

Period('2016-02-28', 'D')

In [18]:
d+1

Period('2016-02-29', 'D')

In [19]:
h=pd.Period('2016-02-28 23:00:00',freq='H')
h

Period('2016-02-28 23:00', 'H')

In [20]:
h.start_time

Timestamp('2016-02-28 23:00:00')

In [21]:
h.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [22]:
h+1

Period('2016-02-29 00:00', 'H')

In [23]:
h+pd.offsets.Hour(5)

Period('2016-02-29 04:00', 'H')

In [24]:
q=pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

q+1

In [25]:
q+1

Period('2017Q2', 'Q-DEC')

In [26]:
q=pd.Period('2017Q1',freq='Q-JAN')
q

Period('2017Q1', 'Q-JAN')

In [27]:
q.start_time

Timestamp('2016-02-01 00:00:00')

In [28]:
q.end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [29]:
q.asfreq('M',how='start')

Period('2016-02', 'M')

In [31]:
q2=pd.Period('2018Q3',freq='Q-JAN')
q2

Period('2018Q3', 'Q-JAN')

In [32]:
q2.start_time

Timestamp('2017-08-01 00:00:00')

In [33]:
q2-q

6

In [34]:
idx=pd.period_range('2012','2018',freq='Q-JAN')
idx

PeriodIndex(['2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1',
             '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2', '2015Q3',
             '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4', '2017Q1',
             '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2', '2018Q3',
             '2018Q4'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [35]:
idx[0].start_time

Timestamp('2011-11-01 00:00:00')

In [36]:
idx[0].end_time

Timestamp('2012-01-31 23:59:59.999999999')

In [37]:
idx=pd.period_range('2012',periods=10,freq='Q-JAN')
idx

PeriodIndex(['2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1',
             '2014Q2', '2014Q3', '2014Q4', '2015Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [41]:
import numpy as np
length=len(idx)
print (length)
ps=pd.Series(np.random.randn(len(idx)),idx)
ps

10

2012Q4   -0.718495
2013Q1   -0.033509
2013Q2    0.939077
2013Q3    1.129281
2013Q4    1.070369
2014Q1    0.277746
2014Q2    1.728848
2014Q3   -0.281742
2014Q4    0.726839
2015Q1   -0.185001
Freq: Q-JAN, dtype: float64

In [42]:
ps.index

PeriodIndex(['2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4', '2014Q1',
             '2014Q2', '2014Q3', '2014Q4', '2015Q1'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [43]:
ps['2011':'2015']

2012Q4   -0.718495
2013Q1   -0.033509
2013Q2    0.939077
2013Q3    1.129281
2013Q4    1.070369
2014Q1    0.277746
2014Q2    1.728848
2014Q3   -0.281742
2014Q4    0.726839
2015Q1   -0.185001
Freq: Q-JAN, dtype: float64

In [45]:
pst=ps.to_timestamp()
pst

2011-11-01   -0.718495
2012-02-01   -0.033509
2012-05-01    0.939077
2012-08-01    1.129281
2012-11-01    1.070369
2013-02-01    0.277746
2013-05-01    1.728848
2013-08-01   -0.281742
2013-11-01    0.726839
2014-02-01   -0.185001
Freq: QS-NOV, dtype: float64

In [46]:
pst.index

DatetimeIndex(['2011-11-01', '2012-02-01', '2012-05-01', '2012-08-01',
               '2012-11-01', '2013-02-01', '2013-05-01', '2013-08-01',
               '2013-11-01', '2014-02-01'],
              dtype='datetime64[ns]', freq='QS-NOV')

In [48]:
pst.to_period()

2011Q4   -0.718495
2012Q1   -0.033509
2012Q2    0.939077
2012Q3    1.129281
2012Q4    1.070369
2013Q1    0.277746
2013Q2    1.728848
2013Q3   -0.281742
2013Q4    0.726839
2014Q1   -0.185001
Freq: Q-DEC, dtype: float64

In [71]:
import pandas as pd
df=pd.read_csv('Finance.csv')
df

          Q  2014Q4  2015Q1  2015Q2  2015Q3  2015Q4  2016Q1
0   Revenue  123242  234232  273234  248927  273241  324124
1  Expanses  103242  213243  235673  215672  233243  301232
2    Profit   24322   14234   41723   31002   41982   23123

In [55]:
df.set_index('Q',inplace=True)
df

          2014Q4  2015Q1  2015Q2  2015Q3  2015Q4  2016Q1
Q
Revenue   123242  234232  273234  248927  273241  324124
Expanses  103242  213243  235673  215672  233243  301232
Profit     24322   14234   41723   31002   41982   23123

In [59]:
df.T

Q       Revenue  Expanses  Profit
2014Q4   123242    103242   24322
2015Q1   234232    213243   14234
2015Q2   273234    235673   41723
2015Q3   248927    215672   31002
2015Q4   273241    233243   41982
2016Q1   324124    301232   23123

In [63]:
df.index

Index(['Revenue', 'Expanses', 'Profit'], dtype='object', name='Q')

In [66]:
df.index=pd.PeriodIndex(df.index,freq='Q-JAN')
df.index

DateParseError: Unknown datetime string format, unable to parse: REVENUE

In [68]:
df['start_time']=df.index.map(lambda x: x.start_time)
df

AttributeError: 'str' object has no attribute 'end_time'

In [69]:
df['end_time']=df.index.map(lambda x: x.end_time)
df

AttributeError: 'str' object has no attribute 'end_time'